<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="sayHelloService" class="com.codebase.framework.spring.reconstruct.SayHelloServiceImpl">
        <property name="name" value="anybody"/>
        <property name="outputService" ref="outputService"/>
    </bean>

    <bean id="outputService" class="com.codebase.framework.spring.reconstruct.OutputServiceImpl">
        <property name="sayHelloService" ref="sayHelloService"/>
    </bean>

</beans>